@media(max-width: 480px) {
	.mobile_only {
		display: block !important;
	}
	.mobile_hide {
		display: none !important;
	}
}

@media(min-width: 481px) {
	.mobile_only {
		display: none !important;
	}
	.mobile_hide {
		display: block !important;
	}
}

// Variables
$background-green: #488f9b;
// End variables

.App {
  header.navbar {
    background-color: $background-green;
    color: #3b30b4;
    font-weight: bold;

    a {
        color: #3b30b4;
        font-weight: bold;
        text-decoration: underline;
    }
}
}

body {
  background-color: #FFF;
}

