.App {
  text-align: center;
}

.App-header {
  background-color: #342828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

.navbar {
  border-bottom: solid 1px #111;

  a.nav-link {
    text-align: left;
    text-decoration: underline;
  }

  div#minicart {
    color: #FFF;
    background-color: rgb(15, 201, 25);
    width: 22px;
    padding-left: 2px;
    padding-top: .3em;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    margin: 2px;
    text-align: left;
}
} }

div.productShowroom {

  div.productPanel {
    width: 33%;
    float: left;
    margin: 0px 2px 5px 2px;
    width: 350px;
    text-align: left;

    div.panel-heading {
      font-weight: bold;
      font-size: 18px;
      text-align: center;

      span.cart {
        float: right;
        border: solid 1px #f00;
      }
    }
  }
}

button.addToCartCtrl {
  float: right;
  font-size: 12px;
  text-decoration: underline;
  background: transparent;
  border: none;
}