.App {
  text-align: center;
}

a.nav-link {
  text-align: left;
  text-decoration: underline;
}

span.CartHeader {
  div#minicart {
    color: #444;
    width: 22px;
    padding-left: 2px;
    padding-top: .3em;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    margin: 2px;
    text-align: left;
  }
}

div.productShowroom {

  div.productPanel {
    width: 33%;
    float: left;
    margin: 0px 2px 5px 2px;
    width: 350px;
    text-align: left;

    span.product-price {
        float: right;
        position: relative;
        top: -5px;
    }

    div.panel-heading {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }
  }
}

#productSummary {
  .productSummary {
    width: 100%;
    margin: 0px 0px 5px 0px;
  }

  .remove {
    font-size: 15px;
    float: right;
    color: #000;
    cursor: pointer;
  }
}

button.addToCartCtrl {
  float: right;
  font-size: 12px;
  text-decoration: underline;
  background: transparent;
  border: none;
}